/node_modules
/public/hot
/public/storage
/public/imgs/users
/storage/*.key
/storage/exports/
/storage/export_csv/
/vendor
/.idea
/nbproject/private/
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/.history
/.vscode
/.vs
/.favorites.json
structure_creator.php
/storage/export_csv/
.phpstorm.meta.php
/_ide_helper.php
/public/imgs/splash_screens/*
/public/imgs/accounts/*
